<div class="container">
    <div class="card" >
        <h2 class="card-body">
            <h1>Tecnologías</h1>
          <ul >
             <li class="card-title">
             Angular
             </li> 
             <li class="card-img" >
                 <img src="./assets/html.jpg" alt="logo">
             </li>
             <li>
                <i class="fa fa-pencil fa-lg" aria-hidden="true" (click)="edit()"></i>   
             </li>
             <li>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
             </li>
          </ul> 
        </h2>
    </div>
</div>
