<div class="container">
    <div class="card" >
      <h1>Tecnologías</h1>
      <a routerLink="/addtecno">
      <i class="fa fa-plus"></i>
      </a>
        <div class="card-body">
          <ul  *ngFor = "let tecnologia of tecnologias" >
            <li class="card-img" >
              <img src="./assets/{{tecnologia.imagen}}" alt="logo">
            </li>
            <li>
              <a routerLink="/edittecno/{{tecnologia.id}}">
                <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>  
              </a>
            </li>
            <li>
               <i class="fa fa-trash-o" aria-hidden="true" (click)="delete(tecnologia)"></i>
            </li>
            <li class="card-title">
              {{tecnologia.nombre }}
            </li> 
          </ul>
        </div>
  </div>
</div>

