<div class="container">
  <h1>Mis contactos</h1>
  <p>Para más información, contáctame en mis redes sociales:</p>
  <div class="row" *ngFor="let contacto of contactos"class="container-fluid" >
    <a href="{{contacto.facebook}}" class="fa fa-facebook"></a>
    <a href="{{contacto.instagram}}" class="fa fa-instagram"></a>
    <a href="{{contacto.twitter}}" class="fa fa-twitter"></a>
    <a href="{{contacto.linkedIn}}" class="fa fa-linkedin"></a>
    <a href="https://wa.me/{{contacto.whatsapp}}" class="fa fa-whatsapp"></a>
    <a href="mailto:{{contacto.mail}}" class="fa fa-envelope"></a>
  </div>    

</div>


    
    
  