<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <span class="navbar-text">Portafolio</span>
          <ul class="navbar-nav">
            <li class="nav-item">
              <button type="button" class="btn btn-outline-success" (click)="click()">Inicio</button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-success"(click)="iClick()">Información</button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline-success"(click)="cClick()">Contacto</button>
            </li>    
          </ul>  
      </div>
    </nav>
</body>
<router-outlet></router-outlet>
