<div class="container">
  <div class="card">
    <h1 class="card-title">Idiomas</h1>
      <a routerLink="/addidi">
        <i class="fa fa-plus"></i>
      </a>
      
        <div class="progress" *ngFor="let idioma of idiomas">
          <div class="progress-bar progress-bar-striped progress-bar-animated" 
          [style.width.%]="idioma.nivel">
            {{idioma.nombre}}
          </div>
        </div>
        <div *ngFor="let idioma of idiomas">
        <a routerLink="/editidi/{{idioma.id}}">
          <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>  
        </a>
         <i class="fa fa-trash-o" aria-hidden="true" (click)="delete(idioma)"></i>
        </div>
  </div>
</div>
  